@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* ======================================= */
/* global */
:root {
  --point: 1vh;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Press Start 2P";
  font-size: calc(var(--point) * 1.5);
  width: 100vw;
}

body,
main {
  height: 100vh;
}

main {
  display: flex;
  flex-flow: column nowrap;
  width: calc(var(--point) * 100);
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
/* ======================================= */

/* ======================================= */
/* stats */

#stats {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: calc(var(--point) * 5.5);
  width: 94%;
}

/* mute button */

.mute {
  all: unset;
  height: calc(var(--point) * 4);
  width: calc(var(--point) * 4);
  background-repeat: no-repeat;
  background-size: 100%;
}
.mute.on {
background-image: url('./buttons/mute-on.svg');
}
.mute.off {
background-image: url('./buttons/mute-off.svg');
}
/* ======================================= */

/* ======================================= */
/* playground */

#playground {
  width: calc(var(--point) * 94.5);
  height: calc(var(--point) * 94.5);

  transition: background-color .4s linear .2s ;
}

#playground.won {
  background-color: #fff;
}

.plane {
  position: absolute;
  display: grid;
  width: calc(var(--point) * 94.5);
  height: calc(var(--point) * 94.5);
  gap: 0;
}

/* cell */
.cell {
  /* border: 1px solid red; */
  background-repeat: no-repeat;
  background-size: 100%;
}

/* walls */
.wall {
  background-color: #1c1c78;
}

/* pellet */
.pellet {
  background-image: url("./sprites/pellet.svg");
}

/* power-up */
.power-up {
  background-image: url("./sprites/power-up.svg");
  animation: power-up 1s linear infinite alternate;
}

@keyframes power-up {
  from {
    opacity: 100%;
  }
  to {
    opacity: 40%;
  }
}
/* ======================================= */

/* ======================================= */
/* controls */

#controls {
  flex-shrink: 1;
  display: grid;
  width: calc(var(--point) * 35);
  height: calc(var(--point) * 35);
  grid-template-rows: 1fr 0.75fr 1fr;
  grid-template-columns: 1fr 0.75fr 1fr;
  grid-template-areas:
    ". u ."
    "l . r"
    ". d .";
  gap: 0;
  position: absolute;
  left: 0;
  margin: auto 0;
}

.control {
  all: unset;
  position: relative;
  background-color: #ffbfa4;
  background-repeat: no-repeat;
}

.control:hover {
  background-color: #1e1e87;
  cursor: pointer;
}

.control.up,
.control.down {
  background-size: 60%;
}

.control.up {
  grid-area: u;
  top: 22%;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
  background-image: url("./buttons/up.svg");
  background-position: 50% 25%;
}

.control.left {
  grid-area: l;
  left: 22%;
  clip-path: polygon(0 0, 75% 0, 100% 50%, 75% 100%, 0 100%);
  background-image: url("./buttons/left.svg");
  background-position: 40% 50%;
}

.control.right {
  grid-area: r;
  right: 22%;
  clip-path: polygon(0 50%, 25% 0, 100% 0, 100% 100%, 25% 100%);
  background-image: url("./buttons/right.svg");
  background-position: 60% 50%;
}

.control.down {
  grid-area: d;
  bottom: 22%;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 100%, 0 100%);
  background-image: url("./buttons/down.svg");
  background-position: 50% 75%;
}
/* ======================================= */

/* ======================================= */
/* popup menu */

#popup {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: #000000c1;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: calc(var(--point) * 1.7);
  padding: calc(var(--point) * 3) calc(var(--point) * 5);
}

#popup h2 {
  font-size: calc(var(--point) * 5);
  color: #ffbfa4;
}

[alt='instructions gif'] {
  flex-grow: 1;
  height: 80%;
  margin: calc(var(--point) * 2) auto;
}

#start-game {
  all: unset;
  font-size: calc(var(--point) * 5);
  background-color: #1c1c78;
  color: #fff;
  width: fit-content;
  padding: calc(var(--point) * 3) calc(var(--point) * 5);
  margin: 0 auto;
}

#start-game:hover {
  background-color: #ffbfa4;
  cursor: pointer;
}

.lost {
  color: red;
}

.won {
  color: green;
}

/* ======================================= */
/* media queries */

/* mid-size to small screens */
@media (width < 130vh) {
  #controls {
    position: unset;
    left: unset;
    margin: unset;
    margin-top: auto;
    width: 75vw;
    height: 75vw;
  }
}

/* portrait mode */
@media (orientation: portrait) {
 :root {
   --point: 1vw;
 }
}

/* ======================================= */
