@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P";
}

@media (orientation: landscape) {
  :root {
    --percent: 1vh;
  }
}
@media (orientation: portrait) {
  :root {
    --percent: 1vw;
  }

  body,
  main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }


}
/* ======================================= */

/* ======================================= */
/* controls */

#controls {
  border: 1px solid red;
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-rows: 1fr 0.75fr 1fr;
  grid-template-columns: 1fr 0.75fr 1fr;
  grid-template-areas:
    ". u ."
    "l . r"
    ". d .";
  gap: 0;
}

#controls button {
  all: unset;
  position: relative;
  background-color: #ffbfa4;
  background-repeat: no-repeat;
}

#up,
#down {
  background-size: 60%;
}

#up {
  grid-area: u;
  top: 22%;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
  background-image: url("/resources/buttons/up.svg");
  background-position: 50% 25%;
}

#left {
  grid-area: l;
  left: 22%;
  clip-path: polygon(0 0, 75% 0, 100% 50%, 75% 100%, 0 100%);
  background-image: url("/resources/buttons/left.svg");
  background-position: 40% 50%;
}

#right {
  grid-area: r;
  right: 22%;
  clip-path: polygon(0 50%, 25% 0, 100% 0, 100% 100%, 25% 100%);
  background-image: url("/resources/buttons/right.svg");
  background-position: 60% 50%;
}

#down {
  grid-area: d;
  bottom: 22%;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 100%, 0 100%);
  background-image: url("/resources/buttons/down.svg");
  background-position: 50% 75%;
}
/* ======================================= */

/* ======================================= */

#playground {
  width: calc(var(--percent) * 100);
  height: calc(var(--percent) * 100);
}

.plane {
  position: absolute;
  width: calc(var(--percent) * 100);
  height: calc(var(--percent) * 100);
  display: grid;
  gap: 0;
}

.cell {
  border: 1px solid red;
}

/* walls */
/* .wall {
  border: 1px solid red;
}
.top.left {
  border: 1px solid red;
}
.top.right {
  border: 1px solid red;
}
.bottom.left {
  border: 1px solid red;
}
.bottom.right {
  border: 1px solid red;
} */

/* pacman */

/* ghosts */
