@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@media (orientation: landscape) {
  :root {
    --percent: 1vh;
  }
}
@media (orientation: portrait) {
  :root {
    --percent: 1vw;
  }
}



body {
  font-family: 'Press Start 2P';
}

.cell {
  border: 1px solid red;
  height: 20px;
}

/* walls */
.wall {
  border: 1px solid red;
}
.top.left {
  border: 1px solid red;
}
.top.right {
  border: 1px solid red;
}
.bottom.left {
  border: 1px solid red;
}
.bottom.right {
  border: 1px solid red;
}

/* pacman */

/* ghosts */